<!--Llamo al compontne para el encabezado-->
<mat-sidenav-container autosize="true">
  <mat-sidenav opened="true" mode="side">
    <!--Div para las opciones-->
    <div class="logo" fxLayout fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-icon>face</mat-icon>
      <h3>Sistema de gestión</h3>
    </div>
    <gst-menu></gst-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <gst-header></gst-header>
    <!--Le digo a mi componente principal que html que maneje las rutas-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
